<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock  %}</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body>
    <header>
        <h1>Мій блог</h1>
    </header>
    <main>
        <hr>
        {% block content %}
        {% endblock  %}
    </main>
    <footer>
        <hr>
        <p><small>&copy; 2026</small></p>
    </footer>
</body>
</html>
