{% extends "blog/base.html" %}

{% block title %}Мій блог{% endblock  %}

{% block content %}
    <section>
        <header>
            <h2>Нові пости</h2>
        </header>
        {% for post in posts %}
            <aside>
                <h3>
                    <a href="{{ post.get_absolute_url }}">
                        <b>{{ post.title }}</b>
                    </a>
                </h3>
                <p>
                    <small>📅 {{ post.publish }} 👤 {{ post.author }}</small>
                </p>
                {{ post.body|truncatewords:20|linebreaks }}
            </aside>
        {% endfor %}
    </section>
{% endblock content %}
